#hero{
width:100%;
height:auto;
position:absolute;
top:-70px;
}
.logo-version{
background:black;
position:absolute;
width:100%;
height:63px;
text-spacing:10px;
top:0px;
display:inline block;
font-family:gentona;

}
a{
text-decoration:none;
font-family:arial;
color:grey;
text-shadow:rgba(0, 0, 0, 0.4);
}
#logo{
position:absolute;
left:50px;
top:10px;
}
#ola-s1{
position:absolute;
left:150px;
top:20px;
text-decoration: none;
color:white;
font-family:Gentona;
}
#electric{
position:absolute;
left:220px;
top:20px;
text-decoration: none;
color:white;
font-family:Gentona;
}
#future{
position:absolute;
left:320px;
top:20px;
text-decoration: none;
color:white;
font-family:Gentona;
}
#book{
position:absolute;
right:300px;
top:10px;
text-decoration: none;
color:white;
font-family:Gentona;
background:rgba(255, 255, 255, 0.17);
height:20px;
width:120px;
padding:12px;
}
#free{
position:absolute;
right:150px;
top:10px;
text-decoration: none;
color:black;
background:white;
padding:12px;
font-family:Gentona;
}
#bar1{
height:3px;
width:20px;
background:white;
top:-10px;
right:0px;
position:absolute;
}
#bar2{
height:3px;
width:20px;
background:white;
top:-5px;
right:0px;
position:absolute;
}
#bar3{
height:3px;
width:20px;
background:white;
position:absolute;
top:0px;
right:0px;
}
#bar{
height:20px;
width:20px;
background:black;
right:90px;
position:absolute;
top:18.6px;
cursor:pointer;
}
#clear{
font-size:15px;
font-family:gentona;
position:absolute;
right:50px;
top:20px;
visibility:hidden;
cursor:pointer;
}
#bar-opt{
visibility:hidden;
position:absolute;
right:150px;
top:75px;
line-height:60px;
text-decoration:none;
font-family:Gentona;
}
#barimg{
width:380px;
height:150px;
position:absolute;
right:-150px;
top:470px;
}
#banner-text{
color:white;
font-size:50px;
width:350px;
height:50px;
font-family:Gentona;
position:absolute;
top:80px;
left:250px;
}
#like1,#like2,#like3{
background:white;
position:absolute;
top:230px;
left:250px;
padding:12px;
color: #424a54;
font-size:15px;
height:30px;
width:120px;
}
#like2{
left:350;
}
#like3{
left:450;
}
#like1:hover{
text-decoration:underline 3px;
text-underline-offset:20px;
color:black;
cursor:pointer;
}
#like2:hover{
text-decoration:underline 3px;
text-underline-offset:20px;
color:black;
cursor:pointer;
}
#like3:hover{
text-decoration:underline 3px;
text-underline-offset:20px;
color:black;
cursor:pointer;
}
#loc,#dest,#pack{
position:absolute;
top:320;
left:280;
padding:20px;
width:250px;
}
#dest,#pack{
left:600;
}
#pack{
visibility:hidden;
}
#ola-back{
position:absolute;
left:900;
top:315;
background:black;
padding:12px;
height:40px;
box-shadow:5px 5px #32c86e;
}
#search{
position:absolute;
left:910;
top:320;
color:white;
}
#next,#out,#rent{
position:absolute;
left:980;
top:314;
width:300px;
color:#32c86e;
font-size:20px;
}
#out,#rent{
visibility:hidden;
}
#out{
left:980;
}
#ciror,#cirgr{
height:10px;
width:10px;
border-radius:5px;
position:absolute;
top:328px;
}
#ciror{
background:orange;
left:290;
}
#cirgr{
background:#32c86e;
left:610;
}
#crnt
{
position:absolute;
top:340;
left:500;
}
#clock{
position:absolute;
top:342;
height:15px;
width:15px;
left:625;
visibility:hidden;
}
#outer{
height:100px;
width:950px;
background:#f2f4f6;
position:absolute;
top:280;
left:250;
padding:10px;
}
#banner-green{
height:178px;
width:950px;
position:absolute;
top:480px;
left:17%;
}
#circr{
height:500px;
width:100%;
transform:skewY(178deg);
background:white;
position:absolute;
top:300px;
left:0px;
}
#globe,#globe2{
font-size:45px;
color:black;
text-shadow:1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
position:absolute;
top:700;
left:25%;
font-family:arial;
font-height:20px;
width:1000px;
}
#globe2{
top:750;
left:30%;
}
#ola-desc{
height:300px;
width:1330;
position:absolute;
top:900px;
padding:100px;
background:white;
left:-10px;
transform:skewy(178deg);
}
#cts,#kms,#rides{
height:150px;
width:150px;
position:absolute;
left:20%;
top:900px;
}
#kms{
left:45%;
}
#rides{
left:70%;
}
#cts-num,#cts-cts,#cts-desc,#kms-num,#kms-desc,#kms-kms,#rides-rides,#rides-num,#rides-desc{
position:absolute;
top:1000;
left:22%;
font-size:35px;
display:block;
font-family:arial;
}
#cts-cts,#kms-kms,#rides-rides{
top:1055;
font-size:23px;
left:20%;
color:#212026
}
#cts-desc,#kms-desc,#rides-desc{
top:1100;
font-size:13px;
width:160px;
left:20%;
color:#424a54;
}
#rides-rides,#rides-num,#rides-desc{
left:47%;
}
#rides-rides,#rides-desc{
left:45%;
}
#kms-kms,#kms-num,#kms-desc{
left:73%;
}
#kms-kms,#kms-desc{
left:71%;
}
#kms-desc{
width:210px;
}
#bl-cr{
height:1200px;
width:100%;
background:black;
transform:skewy(178deg);
position:absolute;
top:1200;
}
#ola-txt{
position:absolute;
top:1300;
left:15%;
color:white;
font-size:60px;
text-shadow: 1.152px 1.152px 0px #000000, 1.728px 1.728px 0px #92C83E;
}
#sport-bike{
position:absolute;
width:1100px;
height:528px;
top:1500px;
left:15%;
}
#bike-desc{
position:absolute;
top:1980;
left:15%;
line-height:24px;
font-weight:400;
color:white;
font-size:18px;
width:340px;
opacity:0.64;
}
#s1-link{
position:absolute;
top:2130;
left:15%;
font-weight:500;
font-size:25px;
color:#16aa51;
}
#black-box,#black-box1,#black-box2 {
    border-image: linear-gradient(rgb(141 141 141),rgba(255, 255, 255, 0)) 15;
    border-width: 1.5px;
    border-style: solid;
    padding: 16px 24px;
    background: #151616;
    position:absolute;
    top:2020;
    left:54%;
    height:90px;
    width:80px;
    color:white;
}
#black-box1{
left:66%;
}
#black-box2{
left:78%;
}
#box-num,#box1-num,#box2-num{
font-size:30px;
position:absolute;
left:10px;
top:-10px;
}
#box-box,#box1-box1,#box2-box2{
position:relative;
left:40;
font-weight:400;
}
#box-desc,#box1-desc,#box2-desc{
opacity:0.64;
}
#pink-banner{
position:absolute;
top:2200;
left:15%;
width:1085.35;
height:105.53;
}
#tech-txt{
position:absolute;
top:2500;
left:15%;
color:black;
text-shadow:1.152px 1.152px 0px #FFFFFF, 1.728px 1.728px 0px #92C83E;
font-size:50px;
font-weight:400;
}
#back-img,#back-img1,#back-img2{
position:absolute;
top:2700;
left:15%;
height:441px;
width:1054px;
background:#a19b9b;
}
#ola-ff,#ola-inv,#ola-bt{
height:441px;
width:654px;
}
#back-img1{
top:3250;
left:15%;
background:#a19b9b;
}
#ola-inv{
left:40%;
position:absolute;
top:0;
}
#back-img2{
top:3800;
background:#a19b9b;
}
#ba-img-b,#ba-img2-b,#ba-img1-b{
font-size:30px;
color:black;
position:absolute;
top:50px;
left:700px;
cursor:pointer;
}
#ba-img1-b{
left:50;
}
#ba-img-txt,#ba-img2-txt{
font-size:20;
position:absolute;
top:150px;
left:700px;
width:250px;
color:black;
font-weight:400;
opacity:0.53;
cursor:pointer;
}
#ba-img1-txt{
position:absolute;
top:150px;
left:50;
color:black;
opacity:0.53;
font-weight:400;
font-size:20;
width:250px;
cursor:pointer;
}
#bl-cr2{
height:1100px;
width:100%;
background:black;
transform:skewy(178deg);
position:absolute;
top:4400;
}
#bl-txt{
position:absolute;
top:4500;
left:15%;
font-size:60px;
font-weight:400;
text-shadow:1.152px 1.152px 0px #000000, 1.728px 1.728px 0px #92C83E;
color:white;
}
#ola-video{
position:absolute;
top:4700;
left:15%;
height:581px;
width:955px;
}
#wh-txt{
position:absolute;
font-size:60px;
top:5600;
left:15%;
color:balck;
text-shadow:1.152px 1.152px 0px #FFFFFF, 1.728px 1.728px 0px #92C83E;
font-weight:400;
}
#ri-bd,#ri-di,#ri-du{
position:absolute;
top:5800;
left:15%;
padding:20px;
}
#ri-di{
left:40%;
}
#ri-du{
left:65%;
}
#ri-bd-b,#ri-di-b,#ri-du-b{
position:absolute;
top:6050;
left:15%;
width:250px;
font-size:20px;
font-family:arial;
color:black;
}
#ri-di-b{
left:40%;
}
#ri-du-b{
left:65%;
}
#ri-bd-txt,#ri-di-txt,#ri-du-txt{
position:absolute;
top:6100;
left:15%;
width:250px;
font-size:12px;
font-family:arial;
color:black;
opacity:0.54;
}
#ri-di-txt{
left:40%;
}
#ri-du-txt{
left:65%;
}
#bl-op-cr{
height:500px;
width:100%;
transform:skewy(178deg);
background:#9ef9ef;
position:absolute;
top:6300;
}
#ola-cap,#insta,#twitter,#youtube{
position:absolute;
left:15%;
}
#ola-cap{
top:6500;
}
#insta{
top:6600;
}
#youtube{
position:absolute;
top:6600;
left:19%;
}
#twitter{
position:absolute;
top:6600;
left:23%;
}
#end-det,#end-abt,#end-ola,#end-stay{
position:absolute;
top:6480;
font-size:15px;
left:35%;
color:black;
line-height:30px;
font-family:arial;
}
#end-abt{
left:45%;
}
#end-ola{
left:55%;
}
#end-stay{
top:6480;
left:70%;
}
#end-mail{
position:absolute;
top:6530;
left:70%;
padding:20px;
font-family:arial;
}
#end-shd{
position:absolute;
top:6630;
height:70px;
width:250px;
left:70%;
background:black;
box-shadow:5px 5px #32c86e;
}
#sub,#news{
font-size:15px;
position:absolute;
top:11px;
left:5px;
color:white;
}
#news{
color:#32c86e;
left:120px;
}








